<%= form_for '' ,:url=>secret_codes_path, :method => 'post'  do |f| %>
  <% if @secret_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@secret_code.errors.count, "error") %> prohibited this secret_code from being saved:</h2>

      <ul>
      <% @secret_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%=f.hidden_field :create_secret_key_drop_down, :value=>1%>
  <div class="actions">
    <%= f.submit("Create Secret Code") %>
  </div>
<% end %>
